jupyterlab
ipywidgets
jupyterlab-widgets
numpy
matplotlib
scipy
pandas
scikit-learn
seaborn
tqdm
packaging>=22.0
torch==2.4.1
torcheval
gymnasium
pygame
swig
cmake
tensordict
torchrl
torchvision
torchaudio
stable-baselines3[extra]
rl_zoo3
